.login-box {
    border: 0px dashed black;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#venmoauth
{
	width:100px;
}

#regform
{
	text-align:center;
	padding-top:45px;
	float:center;
}

#regfeild
{
	width:240px;
	height:45px;
	text-align:right;
	margin:auto;
}


#submit
{
	font-size : 20px;
	border : solid 1px #016897;
	color : #dffe62;
	padding : 0px 80px;
	background-color : #454545;
}

#logos
{
	text-align:center;
	margin-top:25px;
}

#BountyCoin
{
	width:250px; 
	height:250px; 
padding-top:15px;	
}

#menu
{
	width:100%;
	height:50px;
	background-color:#DFFE62;
	position:fixed;
	top:0;
}

#NoBounty
{
	width:400px; 

}

#darehold
{
		margin-top:65px;
}

#darebox
{
	border: solid 1px #016897;
}

body
{
	background-color: #454545;
}

@font-face
{
	font-family: Allan;
	src: url(Allan-Regular.ttf);
}

h1 {
	font-family: Gulim, Tahoma;
	text-align: center;
	color: #dffe62;
	font-size: 6.1em;
	padding-top:45px;
}

h3{
	font-family: Gulim, Tahoma;
	color: #dffe62;
	font-size: 4em;
}

h2
{
	font-family:Allan;
	font-size:3em;
	color: #016897;
	text-align: center;
}

#reghead
{
	padding-top:0px;
}