{% extends "base.html" %}
{% block content %}
<div id="menu">
	<div id="lefttext">
			<div id="wrapabout">
				<h5>
					<a style="color:#DFFE62" href="about">about</a>
				</h5>
			</div>
	</div>
	<div id="righttext">
		<a href="/">
			<img id="NoBounty" src="/static/css/DareYouDareNoBounty.png"/>
		</a>
			<div id="wrapaccount">
				<h5>
					<a style="color:#DFFE62" href="account">account</a>
				</h5>
			</div>
			<div id="wraplogout">
				<h6>
					<a style="color:#DFFE62" href="logout">logout</a>
				</h6>
			</div>
		</div>
</div>
	<br></br>
    <h1><y style="color:#67ccfa">About Us</y></h1>
	<br></br>
    <h7><p>Want to see somebody perform a dare?</p>
	<p>	Put up the dare and however much you'll pay to see it happen.</p>
    <p>Somebody puts up a video of the dare. They get paid.</p>

    <p><b>You must register and authorize Venmo to use this webapp.</b></p></h7>
{% endblock %}
