{% extends "base.html" %}
{% block content %}
    <div id="menu">
        <div id="lefttext">
            <div id="wrapabout">
                <h5>
                <a style="color:#DFFE62" href="/about">about</a>
                </h5>
            </div>
        </div>
        <a href="/">
            <img id="NoBounty" src="/static/css/DareYouDareNoBounty.png"/>
            <div id="wrapaccount">
                <h5><a style="color:#DFFE62" href="account">account</a></h5>
            </div>
            <div id="wraplogout">
                <h6><a style="color:#DFFE62" href="logout">logout</a></h6>
            </div>
        </a>
    </div>
    <div class="spacer"></div>
    <div class="container" id="darehold">
        <div class="row">
            <div class="col-md-8">
                <h4>Your Active Challenges</h4>
                {% for d in dares %}
                    <h2>{{d.DareTitle}}</h4>
                    <p>{{d.verboseDescription}}</p>
                    <p>Bounty: {{d.bounty}}</p>
                    <form method="POST" action="/account">
                        <input type="hidden" name="d_id" value = "{{d.objectId}}">
                        <input type="submit" name="delete" value="Delete Dare">
                    </form>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h2>Settings</h2>
                <form>
                    <div class="form-group">
                        <label for="newEmailField" style="color: #cfcfcf">Change Email Address</label>
                        <input type="email" class="form-control" id="newEmailField" placeholder="new email">
                    </div>
                    <div class="form-group">
                        <label for="newPasswordField" style="color: #cfcfcf">Password</label>
                        <input type="password" class="form-control" id="newPasswordField" placeholder="new password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <form action="https://api.venmo.com/v1/oauth/authorize?client_id=CLIENT_ID&scope=make_payments%20access_profile%20access_email%20access_phone%20access_balance&response_type=code&redirect_uri=http://dare.me/venmoauth">
                    <div class="form-group">
                        <h2>Venmo Authorization</h2>
                        <input type="submit" class="btn btn-default" value="Venmo Authorization">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
