{% extends "base.html" %}
{% block content %}

<div id="menu">
	<div id="lefttext">
			<div id="wrapabout">
				<h5>
					<a style="color:#DFFE62" href="about">about</a>
				</h5>
			</div>
	</div>
		<a href="/">
			<img id="NoBounty" src="/static/css/DareYouDareNoBounty.png"/>
		</a>
			<div id="wrapaccount">
				<h5>
					<a style="color:#DFFE62" href="account">account</a>
				</h5>
			</div>
			<div id="wraplogout">
				<h6>
					<a style="color:#DFFE62" href="logout">logout</a>
				</h6>
			</div>
</div>

<div class="container" id="darehold">
<div class="row">
    <div class="col-md-4" id="darebox">
        {% for d in dares %}
            <h2>{{d.DareTitle}}</h4>
            <h4>{{d.verboseDescription}}</h4>
            <h4>Bounty: {{d.bounty}}</h4>

            <form method="POST" action="/account">
                <input type="hidden" name="d_id" value = "{{d.objectId}}">
                <input type="submit" name="delete" value="Delete Dare">
            </form>

        {% endfor %}
    </div>
    <div class="col-md-2"></div>

</div>
{% endblock %}
