{% extends "base.html" %}
{% block content %}

<div id="menu">
<div id="scale">
    <div id="lefttext">
            <div id="wrapabout">
                <h5>
                    <a style="color:#DFFE62" href="about">about</a>
                </h5>
            </div>
    </div>
        <a href="/">
            <img class="scaling-img" id="NoBounty" src="/static/css/DareYouDareNoBounty.png"/>
        </a>
        <div id="righttext">
            <div id="wrapaccount">
                <h5>
                    <a style="color:#DFFE62" href="account">account</a>
                </h5>
            </div>
            <div id="wraplogout">
                <h6>
                    <a style="color:#DFFE62" href="logout">logout</a>
                </h6>
            </div>
            </div>
        </div>
</div>



<div class="container" id="darehold">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/new">
			<br></br>
            <h3 style="text-align: center">Create New Dare</h3>
			<br></br>
            <div style="text-align: center"><input type="submit" style="" class="btn btn-default" value="Create New Dare"></div>
        </form>

    </div>
	<div class="col-md-3"></div>
    <div class="col-md-1"><img id = "BountyCoinMain" src="/static/css/BountyCoin3.png"/></div>
</div>
<div class="row">
    <div class="col-md-4" id="dareboxleft">
        <h7> Claim Open Dares</h7>
            {% for dare in needed_dares %}
            <form method="POST" action="/proof">
                <input type="hidden" name="id" value="{{ dare.objectId }}">
                <input type="text" name="url" id="{{ dare.objectId }}"  style="visibility:hidden" placeholder="Proof URL">
                <a onclick="unhide('{{dare.objectId}}')"><h3> ACCEPT DARE </h3></a>
                <h2>{{ dare.DareTitle }}</h2>
                <p>{{ dare.VerboseDescription }}</p>
                <h4>{{ dare.bounty }} bounty</h4>
                <hr style="border-top: dotted 3px;" />
            </form>
            {% endfor %}
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4" id="dareboxright">
        <h8> Verify Claims</h8>
            {% for dare in claimed_dares %}
            <form method="POST" action="/verify">
                <p style="visibility:hidden" id="{{ dare.objectId }}-verify-label">
                    Check the box if the proof is valid!
                    <a href="{{ dare.proofUrl }}">{{ dare.proofUrl }}</a>
                </p>
                <input type="hidden" name="id" value="{{ dare.objectId }}-verify">
                <input type="hidden" name="bounty" value="{{ dare.bounty }}">
                <input type="checkbox" name="verify-checkbox" id="{{ dare.objectId }}-verify" value="Is it Legit?" style="visibility:hidden">
                <input type="submit" id="{{ dare.objectId }}-verify-button" value="Verify!" style="visibility:hidden">
                <a onclick="unhide('{{dare.objectId}}-verify');unhide('{{dare.objectId}}-verify-button');unhide('{{dare.objectId}}-verify-label')"><h3>VERIFY DARE</h3></a>
                <h2>{{ dare.DareTitle }}</h2>
                <p>{{ dare.VerboseDescription }}</p>
                <h4>{{ dare.bounty }} bounty</h4>
                <hr style="border-top: dotted 3px;" />
            </form>
            {% endfor %}
    </div>
</div>

<script type="text/javascript">
    function unhide(id){
        document.getElementById(id).style.visibility = "visible";
    };
</script>
{% endblock %}
