{% extends "base.html" %}
{% block content %}

<div id="menu">
	<div id="lefttext">
			<div id="wrapabout">
				<h5>
					<a style="color:#DFFE62" href="about">about</a>
				</h5>
			</div>
	</div>
		<a href="/">
			<img id="NoBounty" src="/static/css/DareYouDareNoBounty.png"/>
		</a>
			<div id="wrapaccount">
				<h5>
					<a style="color:#DFFE62" href="account">account</a>
				</h5>
			</div>
			<div id="wraplogout">
				<h6>
					<a style="color:#DFFE62" href="logout">logout</a>
				</h6>
			</div>
</div>



<div class="container" id="darehold">
<div class="row">
	<div class="col-md-4" id="dareboxleft">
		<h8> Claim Open Dares</h8>
            {% for dare in needed_dares %}
            <form method="POST" action="/video">
                <input type="hidden" name="id" value="{{ dare.objectId }}">
                <input type="text" name="url" id="{{ dare.objectId }}"  style="visibility:hidden">
                <a onclick="unhide('{{dare.objectId}}')"><h3> ACCEPT DARE </h3></a>
                <h2>{{ dare.DareTitle }}</h2>
                <h4>{{ dare.bounty }} bounty</h4>
				<hr style="border-top: dotted 3px;" />
            </form>
            {% endfor %}
	</div>
	
	<div class="col-md-4">
		<img id = "BountyCoinMain" src="/static/css/BountyCoin3.png"/>
	</div>
	
	<div class="col-md-4" id="dareboxright">
		<h8> Watch Past Dares</h8>
            {% for dare in verified_dares %}
                <h3> VERIFIED DARE </h3>
                <h2>{{ dare.DareTitle }}</h2>
                <h4>{{ dare.bounty }} bounty</h4>
				<hr style="border-top: dotted 3px;" />
            {% endfor %}
	</div>
</div>

<script type="text/javascript">
    function unhide(id){
        document.getElementById(id).style.visibility = "visible";
    };
</script>
{% endblock %}
