{% extends "base.html" %}
{% block content %}
<div id="menu1"></div>
<div id="menu">
	<h5><w style="color:#b7d051">dareyoudare.me</w>  <a style="color:#454545" href="account.html">account</a></h5>
</div>

<div class="container" id="darehold">
<div class="row">
	<div class="col-md-4" id="darebox">
		{% for dare in dares %}
		<h3> ACCEPT DARE </h3>
		<h2>{{ dare.DareTitle }}</h2>
		<h4>{{ dare.bounty }} bounty</h4>
		{% endfor %}
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-6">
		<img id = "BountyCoinMain" src="/static/css/BountyCoin3.png"/>
	</div>
</div>
<div class="row">
	<div class="col-md-10"></div>
	<div class="col-md-2"><img id = "BountyCoinSmall" src="/static/css/BountyCoin2.png"/></div>
</div>
{% endblock %}
