{% extends "base.html" %}
{% block content %}
<div id="menu1"></div>
<div id="menu">
	<h5><a style="color:#454545" href="register">register</a></h5>
</div>
    <div class="container">
        <div class="starter-template">
            <h1><img src="/static/css/DareYouDareMe.png"</h1>
            <h3>{{test}}</h3>
            <div class="login-box">
                <form method="POST" action="/login">
                    <input type="text" name="username" placeholder="Email" class="form-control" id="regfeild"> </input> <br>
                    <input type="password" name="password" placeholder="Password" class="form-control" id="regfeild"> </input> <br>
                    <input type="submit" name="login" value="login" id="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
