{% extends "base.html" %}
{% block content %}

    <div class="container">
		
        <div class="row">
		<div id="logos" class="span12">
			<img id = "BountyCoin" src="/static/css/BountyCoin.png"/>
		</div>
		</div>
		<div class="row">
		<div id="logos" class="span12">
			<img id = "NoBounty" src="/static/css/DareYouDareNoBounty.png"/>
		</div>
		</div>
		<div class="row">
            <div class="col-md-12">
                <h1 id="reghead">
                 <b> i dare you to register </b>
                </h1>
            </div>
		</div>
            
        </div>
		<div class="row">
		<div class="col-md-12">
				<div id="regform">
                <form action="register" method="POST">
                    <input type="text" name="email" placeholder="Email" class="form-control" id="regfeild"> </input> <br>
                    <input type="password" name="password" placeholder="Password" class="form-control" id="regfeild"> </input> <br>
                    <input type="submit" name="register" value="register" id="submit">
				
                </form>
				</div>
            </div>
		</div>
    </div>
{% endblock %}
