{% extends "base.html" %}
{% block content %}
<div id="menu">
	<div id="lefttext">
			<div id="wrapabout">
				<h5>
					<a style="color:#DFFE62" href="about">about</a>
				</h5>
			</div>
	</div>
	<div id="righttext">
		<a href="/">
			<img id="NoBounty" src="/static/css/DareYouDareNoBounty.png"/>
		</a>
	</div>
</div>
    <div class="container">
        <div class="row">
		<div id="logos" class="span12">
			<img id = "BountyCoin" src="/static/css/BountyCoin.png"/>
		</div>
		</div>
		<div class="row">
		<div id="logos" class="span12">
			
		</div>
		</div>
		<div class="row">
            <div class="col-md-12">
                <h1 id="reghead">
                 <b> i dare you to register </b>
                </h1>
            </div>
		</div>

        {% if error_message %}
       <div class="alert alert-danger" role="alert">
             <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
               <span class="sr-only">Error:</span>
               {{error_message}}
             </div>
             {% endif %} 
            
		<div class="row">
		<div class="col-md-12">
				<div id="regform">
                <form action="register" method="POST">
                    <input type="text" name="username" placeholder="Username" class="form-control" id="regfeild"> </input> <br>
                    <input type="password" name="password" placeholder="Password" class="form-control" id="regfeild"> </input> <br>
                    <input type="submit" name="register" value="register" id="submit">
				
                </form>
				</div>
            </div>
		</div>
    </div>
{% endblock %}
