{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                i dare you to register
                </h1>
            </div>
            <div class="col-md-6">
                <form action="register" method="POST">
                    <input type="text" name="email" placeholder="Email"> </input> <br>
                    <input type="password" name="password" placeholder="Password"> </input> <br>
                    <input type="submit" name="register" value="Register">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
